build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
    docker build -f ecserver/Dockerfile -t ecserver:$GIT_COMMIT_ID ecserver 
    docker tag ecserver:$GIT_COMMIT_ID  ecserver:$ROOST_NAMESPACE  
    docker build -f election-commission/Dockerfile -t election-commission:$GIT_COMMIT_ID election-commission 
    docker tag election-commission:$GIT_COMMIT_ID  election-commission:$ROOST_NAMESPACE  
    docker build -f service-test-suite/Dockerfile -t service-test-suite:$GIT_COMMIT_ID service-test-suite 
    docker tag service-test-suite:$GIT_COMMIT_ID  service-test-suite:$ROOST_NAMESPACE  
    docker build -f voter/Dockerfile -t voter:$GIT_COMMIT_ID voter 
    docker tag voter:$GIT_COMMIT_ID  voter:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###


    HELM_OPTS=""
    helm upgrade bugtest-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Bhavya Goswami
lastUpdatedOn: 2023-03-21T12:09:38.134Z
